<ul class="list-group">
    <% @lists.each do |list| %>
      <li class="list-group-item">
        <%= link_to list.name, list_path(list)  %> 
        <% if list.photo.attached? %>
         <%= cl_image_tag list.photo.key, height: 100, width: 100, crop: :fill  %>
        <% end %>
      </li>
    <% end %>
</ul>

<%= link_to "Create new List", new_list_path, class: "btn btn-primary mt-3" %>